body {
    background: green;
}
header, main, footer{
    min-width: 850px;
}
header .container, main .container, footer .container {
    max-width: white;
    overflow: auto;
}
header{
    background: white;
    overflow: auto;
}
header h1{
    float: left;
    width: 570px;
}
main {
    background: white;
    overflow: auto;
}
main .left {
    float: left;
    width: 285px;
}
main .right{
    float: right;
    width: 285px;
}
footer .left {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: right;
}
li a, .dropbtn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: green;
}
li.dropdown{
    display:inline-block;
}
.dropdown-content{
    display:none; position: absolute; background-color: azure;
    min-width: 160px; box-shadow: 0px 8px 16px 0px #000;
    z-index: -1;
}
.dropdown-content a{
    color:green; padding: 12px 16px; text-decoration: none;
    display: block; text-align: left;
}
.dropdown-content a:hover{
    background-color: aliceblue;
}
.dropdown:hover .dropdown-content{
    display:block;
}
img {
    width: auto;
    height: 200px;
}
form {
   border: 2px solid black;
   height: 350px;
   width: 600px;
   
    
}
main .formulario {
    display: flex; 
    justify-content: center;
    height: 500px;
    width: 1000px;

}
